# Include the README
include README.md

# Include the license file
include LICENSE.txt

# Include html templates and static files
recursive-include django_tabler/templates *
recursive-include django_tabler/static *
