{% load static %}
<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="Content-Language" content="en" />
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="theme-color" content="#4188c9">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon"/>
        <link rel="shortcut icon" type="image/x-icon" href="{% static "img/favicon.ico" %}" />
        <title>{{ request.site.name }}</title>
        <link href="{% static "css/dashboard.css" %}" rel="stylesheet" />
        <link href="{% static "plugins/charts-c3/plugin.css" %}" rel="stylesheet" />
        <link href="{% static "plugins/maps-google/plugin.css" %}" rel="stylesheet" />
        <link href="{% static "fonts/font_awesome/font-awesome.min.css" %}" rel="stylesheet" />
        <link href="{% static "fonts/google/source_sans_pro/source_sans_pro.css" %}" rel="stylesheet" />
        {% block extra_css %}
        {% endblock extra_css %}
    </head>
    <body class="">
        {% block content %}
        {% endblock content %}
        <script src="{% static "js/require.min.js" %}"></script>
        <script>
            requirejs.config({
                baseUrl: '.'
            });
            // find the static_url
            var static_url = "{% get_static_prefix %}";
        </script>
        <script src="{% static "js/dashboard.js" %}"></script>
        <script src="{% static "plugins/charts-c3/plugin.js" %}"></script>
        <script src="{% static "plugins/maps-google/plugin.js" %}"></script>
        <script src="{% static "plugins/input-mask/plugin.js" %}"></script>
        {% block extra_js %}
        {% endblock extra_js %}
    </body>
</html>
